body {
    font-family: "Arial", monospace;
    text-align: center;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    box-sizing: border-box;
    color: blue;
}

h2 {
    font-size: 200px;
    color: blue;
    position: relative;
    bottom: 100px;
}

#welcome {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 30px;
   text-transform: uppercase;
   color: blue;
   background-color: aquamarine;
   border: 10px solid blue;
   border-radius: 100px;
   padding: 20px;
}

#generator {
    margin-top: 70px;
}

#wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    bottom: 0;
    margin-bottom: 70px;
}

.box {
    background: aquamarine;
    color: blue;
    width: 20%;
    margin: 10px;
    text-align: center;
    border: 3px solid blue;
    border-radius: 30px;
}


.show {
    display:none;
}